---
import BaseLayout from "../layouts/Layout.astro";
import ProductCard from "../components/Welcome.astro";
---

<BaseLayout title="Card Example">
	<main class="center-page">
<ProductCard
  title="Moto R15 Gris"
  price="10.000.000"
  image="src/assets/r15_gris.jpg"
/>
</main>
<style>
	.center-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
</BaseLayout>
