---
import BaseLayout from "../layouts/Layout.astro";
import ProductCard from "../components/Welcome.astro";
---

<BaseLayout title="Card Example">
	<main class="center-page">
<ProductCard
  title="Zapatotes"
  price="5.00"
  image="/src/assets/descarga.jpg"
/>
</main>
<style>
	.center-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
</BaseLayout>
