---
const { title, price, image } = Astro.props;
---

<div class="card">
  <div class="card-image">
    <img src={image} alt={title} />
	<span class="cart-icon">
  <img src="src/assets/shopping_cart_24dp_B7B7B7_FILL0_wght400_GRAD0_opsz24.png" alt="carrito" class="cart-img" />
</span>
  </div>

  <h3>{title}</h3>

  <p class="description">
    El mejor zapato para regalar a tu abuelito; comoos, útiles y muy elegantes.
  </p>

  <div class="stars">
    <img src="src/assets/star_half_24dp_8C1AF6_FILL0_wght400_GRAD0_opsz24.png" alt="estrella">
    <img src="src/assets/star_24dp_8C1AF6_FILL0_wght400_GRAD0_opsz24.png" alt="estrella">
    <img src="src/assets/star_24dp_8C1AF6_FILL0_wght400_GRAD0_opsz24.png" alt="estrella">
    <img src="src/assets/star_24dp_8C1AF6_FILL0_wght400_GRAD0_opsz24.png" alt="estrella">
    <img src="src/assets/star_24dp_8C1AF6_FILL0_wght400_GRAD0_opsz24.png" alt="estrella">
  </div>

  <div class="price">
    <span>$80.000</span> / COP
  </div>

  <button class="Comprar">Comprar</button>
</div>

<style>
  .card {
    width: 400px;
    background: white;
    border-radius: 18px;
    padding: 22px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
    font-family: sans-serif;
    display: block;         
    text-align: center;      
    margin-left: auto;    
    margin-right: auto;
  }

  .card-image {
    width: 100%;
    position: relative;
  }

  .card-image img {
    width: 100%;
    border-radius: 12px;
    object-fit: contain;
    border: 1px solid rgb(228, 223, 223);
    margin: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
  }

  .cart-icon {
    position: absolute;
    top: 10px;
    right: 20px;
  }

  h3 {
    margin: 16px 0 6px;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .description {
    font-size: .85rem;
    color: #555;
    line-height: 1.3;
    margin: 0 auto 12px;
    max-width: 320px;
  }

  .stars {
    margin-bottom: 16px;
  }

  .stars img {
    width: 25px;
    height: 25px;
    margin-right: 4px;
  }

  .price {
    font-weight: bold;
    margin-bottom: 16px;
	font-family: sans-serif;
	font-size: 25px;
  }

  .Comprar {
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    color: #ffffff;
    background-color: rgb(153, 0, 255);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    display: block;       
    max-width: 150px;
  }
</style>
